<div class="container-fluid d-flex justify-content-center" style="min-width: 100%; background-color: lightgray">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <img src="/assets/images/fundoDark.jpg" style="min-width: 100%; " alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h3>PERFIL</h3>
                    <h5>Sou formado em Administração de Empresas e estou migrando para área de Tecnologia, que me despertou uma nova paixão. Estou me especializando em programação, mais precisamente em Java, pela instituição Fuctura,onde participo paralelamente
                        de Bootcamps em áreas de frontend e backend. Junto com outros colegas de sala, formamos grupo de estudos presenciais aos fim de semana.</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/images/fundoDark.jpg" style="min-width: 100%; " alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h3>FORMAÇÃO EDUCACIONAL</h3>
                    <ul class="list-group">
                        <li>UNICAP- Universidade Católica de Pernambuco Bacharelado em Administração -Início em 1998.1 - Término em 2004.1</li>
                        <li>Curso de Informática- Datacursos(Unidade Boa Viagem) -Início:09.03.1998 -Término: 06.05.1998 - Carga Horária: 74Horas.</li>
                        <li>BRITANIC - Curso de idiomas Inglês – Início: 29.06.1994 - Término: 28.06.1995 Modalidades Concluídas: Básico e Intermediário; Lê: Razoável - Escreve: Razoável - Fala: Razoável</li>
                        <li>Curso de Aperfeiçoamento em Relacionamento Interpessoale Trabalho em Equipe SENAC EaD SC -Início: 01.03.2021 -Término: 20.03.2021 -Carga Horária:20 Horas.</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/images/fundoDark.jpg" style="min-width: 100%; " alt="">
                <div class="carousel-caption">
                    <h1>HABILIDADES</h1>
                    <ul class="list-group">
                        <li>
                            <h3>-Linguagens de Programação: Java Banco de dados SQL JavaScript HTML/CSS Phyton </h3>
                        </li>
                        <li>
                            <h3>-Frameworks: JDBC/JPA Hibernate Angular Js Git e Github Visual Studio Projetos Ágeis SCRUM</h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/images/fundoDark.jpg" style="min-width: 100%; " alt="">
                <div class="carousel-caption">
                    <h3>OUTRAS COMPETÊNCIAS</h3>
                    <ul class="list-group">
                        <h3>-Capacidade Analítica</h3>
                        <h3>
                            -Gestão de Tempo e Organização
                        </h3>
                        <h3>
                            -Profissional Focado em Objetivos
                        </h3>
                        <h3>
                            -Capacidade de Solucionar Problemas
                        </h3>
                        <h3>
                            -Pessoa Dinâmica e de Fácil Relacionamento
                        </h3>

                    </ul>
                </div>
            </div>


            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>