<div class="container-fluid d-flex justify-content-center " style="min-height: 85vh;">
    <div class="card">
        <div class="row">
            <div class=" col-xs-6 .col-md-4 ">
                <img src="/assets/images/FotoPerfil.jpeg " style="height: 170px; ">
            </div>

            <div class="col-xs-12 .col-md-8 ml-4 ">
                <h5 class="card-title ">Rodrigo Holanda Fernandes</h5>
                <p class="card-text ">DESENVOLVEDOR JAVA / BACK –END /FULLSTACK</p>
            </div>
        </div>

    </div>
    <div class="card " style="background-color: lightgray;">
        <div class=" card-body">
            <h5 class="card-title ">CONTATO</h5>
            <div class="card-text ">
                <ul class="list-group ">
                    <li>Telefone: (81) 3463-0857 Cel.: (81) 99635-9145</li>
                    <li>E-mail: rodrigohf79@hotmail.com</li>
                    <li> Endereço: Rua Felix de Brito e Melo 346 apt 901 - Boa Viagem Recife - PE</li>
                </ul>
                <div>
                    <a href="https://www.linkedin.com/in/rodrigo-fernandes-b12b7a169 " class="btn btn-primary" role="button " style="margin: 5%; "><i class="fa-brands fa-linkedin"></i> - Entrar no LinkedIn</a>
                    <a class="btn btn-dark " href="https://github.com/willyamsann " role="button "><i class="fab fa-github-alt "></i> - Entrar no Github</a>
                </div>


            </div>
        </div>
    </div>
</div>